/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    border: none;
}

/* General body style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lota', sans-serif;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #3a3a3a;
}

/* Header */
header {
    background-color: #fff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
    padding-top: 30px;
    padding: 0 1rem;
}

/* Menu */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;

}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Style navbar with dropdown toggle */
nav {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Search Button */

main {
    /* Make main element take up any  access space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Set Text and images */

img {
    height: 300%;
    width: 80%;
    margin: 30px;
}

#first-text {
    font-size: 140%;
    text-align: center;
    margin: 10px;
}

main p {
    font-size: 130%;
    margin: 30px;
    border: 3rem;
}

/* About us section */
#about-section {
    margin: 1rem;
}

/* Subscription form */

#subscription-form {
    padding: 30px;
}

#webiner > h4 {
    font-size: 200%;
    text-align: center;
}

#webiner > h3 {
    font-size: 130%;
    padding-top: 10px;
    margin: 10px;
    letter-spacing: 1px;
}

#cover-image {
    width: 100vw;
    margin-left: 5px;

}

.text-input {
    color: #3a3a3a;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #3a3a3a;
    border-radius: 2px;
    padding: 0 5px;
}


.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #523f81;
    color: white;
    margin: 0;
}

/* Quotes */

#quotes {
    font-size: 130%;
    text-align: center;
    margin: 15px;

}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 130%;
    padding: 5%;
    color: #fff;
}

footer {
    background-color: #523f81;
    bottom: 0;
    right: 0;
    position: sticky;
    width: 100%;
}

/* Media query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 0;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 130%;
        float: left;
        margin: 20px;
        margin-left: 20px;
    }

}

    /* Main content appear*/
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }


/* Media query for Large devices(laptops and desktops, 992px and up) */
@media screen and (min-width: 1200px) {

    /* Clickable link hovered over */
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #first-text {
        font-size: 30px;
        margin-top: 100px;
        display: inline-block;
        margin-left: 500px;
    }

    #first-img {
        width: 60vh;
        float: left;
    }

    #secound-text > p {
        font-size: 110%;
        letter-spacing: 1px;
        width: 60%;
        height: 80px;
        float: right;
        margin-right: 40px;
        margin-top: 100px;
    }

    #online {
        font-size: 110%;

    }


    #secound-img {
        width: 100vh;
        margin-top: 200px;
    }

    #third-text {
        font-size: 100%;
        letter-spacing: 1px;
        margin: 30px;
        float: left;
        width: 90%;
    }

    #third-img {
        width: 70vw;
        margin-left: 150px;
        }


    /* About section */
    #about-section {
        font-size: xx-large;
        text-align: justify;
        margin-top: 100px;
        width: 60vh;
        padding-left: 30%;
        padding-top: 2.5%;
    }
    #about-section > h2 {
        display: inline-block;
        margin-left: 150px;
        margin-bottom: 30px;
    }

    #about-section > p {
        font-size: 80%;
        width: 60vw;
        left: 50%;
    }

    #about-img{
        width: 60vh;
    }
/* Consent */
    .radio-button {
        width: 30%;
        display: contents;
        justify-content: space-between;
    
        }

    /* Subscription form */

    #webiner > h4 {
        font-size: 300%;
        text-align: center;
        margin-top: 100px;
        letter-spacing: 4px;
    }

    #webiner > h3 {
        font-size: 150%; 
        margin-left: 40px;
        margin-top: 30px;

    }

    #cover-image {
        width: 60%;
        padding-bottom: 90px;
        float: right;
    }

    #signup {
        float: left;
        width: 400px;
        margin: 50px;
    }

    /* Guotes */

    #quotes > h3 {
        margin-top: 150px;
    }

    .first-quote {
        font-size: 20px;
        margin-top: 50px;
        column-gap: 2em;
        width: 80vw;

    }

    #first-quote-image {
        float: left;
        width: 60vh;
    }

    #second-quote-image {
        float: right;
        width: 60vh;
        margin-top: 80px;
    }

    #third-quote-image {
        width: 60vh;

    }

    #forth-quote-image {
        width: 60vw;
    }

}