/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Lato, sans-serif';
    font-weight: 300;
    color: #3a3a3a;
}

/* Style Logo */
h1, h2 {
    font-family: 'oswals', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 250%;
}

/* Crate footer */
footer {
    background-color: red;
}